<div class="jumbotron">
  <% if current_user %>
    <h1> SUP SUP SUP </h1>
    <a class="btn btn-danger" <%= link_to "Logout", logout_path, method: :delete %></a>
  <% else %>
    <h1> WELCOME TO IDEA BOX </h1>
    <p>If you have an idea, put it in your box</p>
    <a class="btn btn-success" <%= link_to "Sign Up", signup_path %></a>
    <a class="btn btn-primary" <%= link_to "Login", login_path %></a>
  <% end %>
</div>
